.email-collect-form {

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.756);
    visibility: visible;
    z-index: 10;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    z-index: 25;
}


footer .email-collect-form .email-collect-div {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 35px;
    width: 70%;
    display: block;
    background-color: unset;
    background-color: #365088ce;

}

footer form div button {
    background-color: #365088;
    padding: 10px 13px;
}


.email-collect-div p:first-child {
    margin-bottom: 10px;
}

footer form {
    width: auto;
    margin: 0 auto;
}

footer form div button {
    background-color: #ff3000;
    padding: 10px 13px;
    width: 100%;
    display: block;
    margin: 0;
    font-weight: 600;
}

footer form div {
    flex-direction: column;
    background-color: unset;

}

footer form div input {
    width: 100%;
    margin: 15px auto;
    padding: 10px 25px;
}

footer form p {
    font-size: 16px;
    font-weight: 600;

}

footer form div input {
    width: 80%;

}



.email-collect-div p:nth-child(2),
.email-collect-div p:nth-child(3) {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
}

.email-collect-div .close {

    z-index: 100;
    background-color: transparent;
    border: none;
    font-size: 30px;
    text-align: end;
    margin-bottom: -30px;
}

.modal2 {
    visibility: hidden;
}

.is-visible {
    visibility: visible;

}

footer form div button {
    line-height: 1.2;
}

@media screen and (min-width: 600px) {
    footer form div {
        background-color: white;
        flex-direction: row;
    }

    footer form div input {
        width: 100%;
        margin: 15px auto;
        padding: 5px 30px;
    }

    footer .email-collect-form .email-collect-div {
        width: 60%;
    }
}


@media screen and (min-width: 768px) {
    footer form div input {
        width: 100%;
        margin: 3px auto;
    }

    footer form div {
        width: 70%;
        margin: 15px auto;
    }
}

@media screen and (min-width: 994px) {
    footer form div {
        width: 60%;
        margin: 15px auto;
    }

    footer .email-collect-form .email-collect-div {
        width: 48%;
    }

    .email-collect-div p:nth-child(3) {
        font-size: 20px;
    }
}

@media screen and (min-width: 1200px) {
    footer .email-collect-form .email-collect-div {
        width: 35%;
    }

    footer form div {
        width: 70%;
        margin: 15px auto;
    }
    footer .email-collect-form .email-collect-div { 
        padding: 35px 35px;
    }
}

@media screen and (min-width: 1500px) {
    footer .email-collect-form .email-collect-div {
        width: 25%;
    }

    footer form div {
        width: 70%;
        margin: 15px auto;
    }
   
}